body {
  font-family: var(--font-sans);
  background-color: var(--surface-1);
  color: var(--text-1);
  padding: var(--size-4);
}

.container {
  max-width: var(--size-15);
  margin-inline: auto;
  color: inherit;
}

input {
  outline: 2px solid var(--gray-6);
}
